root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{h,hpp,c,cpp}]
indent_style = tab
indent_size = 4

[*.{vert,frag,comp,geom,tesc,tese,glsl}]
indent_style = tab
indent_size = 4

[*.{vcxproj,filters,props,targets}]
indent_style = space
indent_size = 2
