*.h       text eol=crlf
*.hpp     text eol=crlf
*.c       text eol=crlf
*.cpp     text eol=crlf

*.vert    text eol=crlf
*.frag    text eol=crlf
*.comp    text eol=crlf
*.geom    text eol=crlf
*.tesc    text eol=crlf
*.tese    text eol=crlf
*.glsl    text eol=crlf

*.sln     text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.props   text eol=crlf
*.targets text eol=crlf

*.md      text eol=crlf
*.txt     text eol=crlf
*.json    text eol=crlf
*.xml     text eol=crlf

*.png     binary
*.jpg     binary
*.jpeg    binary
*.gif     binary
*.webp    binary
*.ico     binary
*.pdf     binary
*.zip     binary
*.7z      binary
*.dll     binary
*.lib     binary
*.exe     binary
*.pdb     binary
*.bin     binary
*.ply     binary
*.las     binary
*.laz     binary
*.glb     binary
